a{
    color: rgb(133, 84, 239) ;
  }

  div { color: rgb(0, 0, 0); }

.zhadan {background-color: rgba(166, 206, 206, 0.484);}

.start { font-family: Georgia, 'Times New Roman', Times, serif
  ;
}
#virshi { font-family: Georgia, 'Times New Roman', Times, serif
  ; color: rgb(68, 39, 213);
}
#DR { font-family: Georgia, 'Times New Roman', Times, serif
  ; color: rgb(155, 39, 134);
}
body {
  background-image:url(https://life.pravda.com.ua/images/doc/6/a/6a3bd1a-jadan-serhiy-4.jpg);
}
