a { color: rgb(118, 219, 121);
font-family: Verdana, Geneva, Tahoma, sans-serif;}
img {border-style: double;}
h1 {color: rgb(193, 131, 131);
word-spacing: 0,5cm;
text-align: center;
text-shadow: 1px 1px 1px rebeccapurple;}
